/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== COLORES ==========*/
    /* Change favorite color */
    /* --first-color:hsl(var(--hue-color), 78%, 58%); with 0 */
    /* --first-color:hsl(var(--hue-color), 69%, 61%); */
    /* --first-color:#E74040;  otro  #dd3535 */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL modo de color */
    --first-color:#f92121;
    --primary-color-degraded:#ff3939;
    --primary-color: #f73535;
    --skills-color:hsl(var(--hue-color), 40%, 75%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 929%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 30%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color),12%,90%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,80%);
    --logo-color:#161414;
    --title-color-red:#fff;
    --about-bc:#fbf9fc;
    --color-service:#e42828;
    --color-navlink:#f6f4f4;
    --color-change-theme:#f6f4f4;
    --change-hover:#ecf8ff;
    --skills-color:#fff;
    --skills-bg:#f6f3fa;
    --services-color:#f4f2f8;
    

    /*========== FUENTE Y TIPOGRAFIA ==========*/
    --body-font:'Poppins', sans-serif; ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --maxbig-font-size:2.4rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size:.81rem ;
    --link-font-size: .875rem;
    --subtitle-font-size: 1rem;

    /*========== TAMAÑO DE FUENTE ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== MARGENES BOTTOM ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75:.75rem ;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* FUENTES PARA PANTALLA GRANDE */
@media screen and (min-width: 1024px) {
    :root {
        --maxbig-font-size:3.25rem;
        --big-font-size: 2.8rem;
        --h1-font-size: 2.15rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.35rem;
        --normal-font-size: 1rem;
        --small-font-size:.90rem ;
        --smaller-font-size: .83rem;
        --link-font-size: 1rem;
        --subtitle-font-size: 1.25rem;
    }
}

/*========== VARIABLE EN DARK LIGHT ==========*/
body.dark-theme{
    /* HSL color mode */
    
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 80%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --skills-color: hsl(var(--hue-color), 32%, 25%);
    --body-color: hsl(230, 28%, 12%);
    --container-color: hsl(var(--hue-color), 24%, 16%);
    --scroll-bar-color: hsl(var(--hue-color),12%,48%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,36%);
    --logo-color:#f6f4f4;
    --title-color-red: #f6f4f4;
    --about-bc:transparent;
    --color-service:#fff;
    --color-navlink:#f6f4f4;
    --color-change-theme:#f6f4f4;
    --change-hover:#031F31;
    --skills-color:hsl(var(--hue-color), 24%, 20%);
    --skills-bg:#f6f3fa;
    --skills-bg:background-color:rgba(73, 73, 73, 0.1);
    --services-color:hsl(var(--hue-color), 20%, 12%);

}

/*========== BOTON DARK/LIGHT ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--color-change-theme);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color: var(--first-color);
}


/*==================== BASE ====================*/
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth; /*desplazamiento del cursor con mayor suavidad*/
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    
}
/*==================== CLASES REUSABLES ====================*/
.section{
    padding: 1rem 0 1rem ;
}
.section2{
    padding: 2rem 0 2rem;
}
.section__inter{
    padding:2rem 0 2rem 0;
}
.section__title{
    font-size: var(--h1-font-size);
    margin-right:1rem;
    margin-left: 1rem;
}
.section__subtitle{
    display: block;
    font-size: var( --subtitle-font-size);
    margin-bottom: var(--mb-3);
    margin-left: .7rem;
    margin-right: .7rem;
}
.section__title,
.section__subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px; 
    margin-left:var(--mb-1-5) ;
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header-active{
    background-color: var(--body-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/*==================== NAVEGADOR ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}
@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.212);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--color-navlink);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.nav__link:hover{
    color: var(--first-color);
}

.nav__services{
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    display: none;
    list-style: none;
    width: 180px;
    background-color: #01021e94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
}

.nav__services li a{
    display: block;
    color: #f6f4f4;
    padding: .8rem 1rem 1rem 1.2rem;
    text-decoration: none;
    transition: .1s;
    
}
.nav__services li a:hover{
    color: var(--first-color);
}

.nav__list li:hover .nav__services{
    display: block;
}

.nav__icon{
    font-size: 1.2rem; 
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close:hover{
    color: var(--first-color-alt);
}

.nav__logo--color{
    fill: var(--color-change-theme);
}
.nav__logo:hover{
    fill: var(--primary-color);
}

/* show menu */
.show-menu{
    bottom: 0;

}
/* Active link */
.active-link{
    position: relative;
    color: var(--first-color);
}
.active-link::after{
    content: " ";
    position: absolute;
    bottom:-.4rem;
    left: 0;
    width:50%;
    height:2px;
    background-color:var(--first-color); 
    transition: width 0.3s ease, left 0.3s ease;
  }
/* Cambiar el color de las letras del navegador*/
.header-active .nav__link{
    color: var(--logo-color);
}
.header-active .nav__link:hover{
    color: var(--first-color);
}
.header-active .active-link{
    color: var(--first-color);
}
.header-active .change-theme{
    color: var(--logo-color);
}

.header-active .change-theme:hover{
    color: var(--first-color);
}
.header-active .nav__logo--color{
    fill: var(--logo-color);
}
.header-active .nav__services{
    background-color: var(--body-color);
}
.header-active .nav__services li a{
    color: var(--logo-color);
}
.header-active .nav__services li a:hover{
    color: var(--first-color);
}
/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}
/*==================== INICIO ====================*/

.home{
    
    width: 100%;
    height: 100vh;
    overflow:hidden ;
}
.home__overflow{
    position: relative;
    height: 100vh;
    width: 100%;
}
.home__container{
    gap: 1rem; 
    padding-top: 0;
}
.home__content{
    grid-template-columns: 0.5fr 3fr;
    align-items: center;
}
.home-img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.home__img{
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 240px;
    height: auto;
  }
  .home__img img{
    position: absolute;
    top: 0;
    left: 0;
  }
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    
}
.home__social-icon{
    font-size: 1.8rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--primary-color-degraded);
}

.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--maxbig-font-size);
    color: var(--title-color-red);
    font-weight: 700;
}
.home__subtitle{
    font-size:var(--h2-font-size) ;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-top: var(--mb-0-5);
    margin-bottom: var(--mb-0-25);
}
.home__description{
    margin-bottom: var(--mb-2);
    color: #dddddd;
}
.home__scroll{
    display: none;
    text-align: right;
}
.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home__scroll-button:hover{
    transform: translateY(.25rem);
}
.home__scroll-mouse{
    font-size: 2rem;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right:var(--mb-0-25) ;

}
.home__scroll-arrow{
    font-size: 1.25rem;
}


/*==================== BOTONES ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    font-family: var(--body-font);
    border-radius: .75rem;
    border:none;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--primary-color-degraded);
}
.button__icon{
    font-size: 1.25rem;
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.button--small{
    padding: .75rem 1rem;
}
.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover{
    background-color: transparent;
    color:var(--color-service);
}
.button__modal{
    display: inline-block;
    background-color:var(--first-color);
    color: #FFF;
    padding: .75rem 1.25rem .75rem 1.25rem;
    margin: .5rem;
    font-size: .8rem;
    min-width: 145px;
    text-align: center;
    font-family: var(--body-font);
    border-radius: .75rem;
    border:none;

    font-weight: var(--font-medium);

}
.button--white{
    background-color: #FFF;
    color: var(--first-color);
}
.button--white:hover{
    background-color: rgb(241, 240, 240);

}
.button__contact{
    color: var(--text-color);
}

/*==================== BENEFICIOS ====================*/
.benefies{
    background-color:var(--services-color);
}

.benefies__img{
    width: 400px;
    margin-bottom: 2rem;  
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.benefies__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);  
}

.benefies__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
    gap: 0.5rem;
}
.benefies__info-name,
.benefies__info-title{
    display: inline-block;
    text-align: center;
}
.benefies__info-title{
    font-size: var(--h2-font-size);
    font-weight:var(--font-semi-bold);
    color: var(--first-color);
}

.benefies__info-name{
    font-size: var(--small-font-size);
}
.benefies__info-title,
.benefies__img-name{
    display: block;
    text-align: center;
}
.benefies__buttons{
    display: flex;
    justify-content: center;
}

/*==================== NOSOTROS ====================*/
.about{
    background-color:var(--about-bc);
    
}
.about__info-name,
.about__info-title{
    display: inline-block;
    text-align: center;
}
.about__img{
    width: 400px;
    
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);  
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}
.about__info-title{
    font-size: var(--h2-font-size);
    font-weight:var(--font-semi-bold);
    color: var(--first-color);
}

.about__info-name{
    font-size: var(--small-font-size);
}
.about__info-title,
.about__img-name{
    display: block;
    text-align: center;
}
.about__buttons{
    display: flex;
    justify-content: center;
}

/*==================== HABILIDADES ====================*/
.skills_bg{
    background-color:var(s);
}
.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: .5rem;
    background-color: var(--container-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    cursor: pointer;
}
.skills__header:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

.skills__list{
    padding: .5rem 1rem 1rem 1rem;
    overflow: hidden;
}
.skills__icon,
.skills__arrow{
    font-size: 1.5rem;
    color: var(--first-color);
}
.skills__icon{
    margin-right: var(--mb-0-75);
}
.skills__title{
    font-size: var(--normal-font-size);
}
.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills__arrow{
    margin-left: auto;
    transition: .4s;
}
.skills__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills__bar{
    background-color: var(--skills-color);
}
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.skills__open .skills__list{
    overflow: visible;
    background-color: var(--container-color);
    height: max-content;
    margin-bottom: var(--mb-2-5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 0 0 5px 5px;
    transition: .6s;
}
.skills__open .skills__title{
    color:var(--text-color);
}

.skills__close .skills__list .services__modal-service{
    visibility:hidden;
    transition: 0;

}
.skills__open .skills__list .services__modal-service{
    visibility:visible;
}
.skills__open .skills__arrow{
    transform: rotate(-180deg);
}
.skills__open .skills__header{
    background-color:var(--skills-color);
    border-radius: 5px 5px 0 0;
}

/*==================== SERVICIOS ====================*/
.services__container{
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-auto-flow: dense;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 0;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}
.services__content:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}
.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    text-align: center;
}
.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1) ;
    font-weight: var(--font-medium);
}
.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}
.service__size{
    font-size: 1.2rem;
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-service{
    display: inline-block;
}
.services__modal-service p{
    padding-top: .7rem;
}
.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}
.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}
.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

.services__card {
    position: relative;
    width: 250px;
    height: 335px;
    border-radius: .25rem;
    text-align: center;
    overflow: hidden;
    background-color: var(--container-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
  }
  .services__card:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  }
  
  .services__card-image {
    width: 100%;
    height: auto;
    transition: .4s;
  }
  
  .services__card-content {
    padding: 16px 8px 16px 8px;
  }
  
  .services__card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .services__card-description {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    padding: .2rem;
  }
  
  .services__card-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .services__card:hover .services__card-image{
    transform:scale(1.07);
  }
  .services__circle{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    transition: .3s;
    
    background-color: var(--container-color);
}
/*==================== CUALIFICACIN ====================*/
.methodology__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.methodology__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.methodology__button:hover{
    color: var(--first-color);
}
.methodology__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);

}
.methodology__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.methodology__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.methodology__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: .5rem;
}

.methodology__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.methodology__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}
.methodology__content-img{
    display: grid;
    place-items: center;
}

.methodology [data-content]{
    display: none;
}
.methodology__active[data-content]{
    display: block;
}
.methodology__button.methodology__active{
    color: var(--first-color);
}

/*===== PROYECTOS =====*/

.portfolio__content,
.portfolio__img{
    height: 230px;
    width: 300px;
    min-width: 280px;
    max-width: 344px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}
  .portfolio__item{
    font-size: 1rem;
    margin: 0 var(--mb-2);
    cursor: pointer;
  }
  
  .portfolio__item:hover{
    color: var(--first-color);
  }
  .portfolio__content{
    position: relative;
    border-radius:.5rem;
    overflow: hidden;
  }
  .portfolio__img{
    width: 100%;
    transition: .4s;
    z-index: 1;
  }
  .portfolio__data{
     position: absolute;
     top: 160px;
     left: 0;
     display: grid;
     grid-template-rows: 1rem 2rem 2rem;
     justify-content: space-between;
     padding: .75rem .75rem 1rem;
  }
  .portfolio__title,
  .portfolio__subtitle{
    cursor: pointer;
  }
  
  .portfolio__subtitle{
    font-size: var(--small-font-size);
    color: #e6e6e6;
  
  }
  .portfolio__title{
    font-size: var(--h2-font-sizeh2-);
    color: #f7f7f7;
    margin-bottom: var(--mb-1) ;
    font-weight: var(--font-medium);
  }
  .portfolio__content:hover{
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  }
  .portfolio__content:hover .portfolio__img{
    transform:scale(1.10);
  }
   .active-portfolio{
    color: var(--first-color);
  }
  .portfolio__container{
    display: grid;
    place-items: center;
}

/*----- MODAL -----*/
.modal__block{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.detail__container-last{

    place-items: center;
    
}
.detail__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
  .detail__modal-content{
    position: relative;
    background-color:var(--body-color);
    width: 100%;
    height: 100vh;
    transition: all .3s;
    transform: translateY(10%);
    overflow-y: auto;
    overscroll-behavior-y: contain;
  }
   /* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
    
}
.active-modal .detail__modal-content{
    transform: translateY(0);
    
}

  .detail__button{
    cursor: pointer;
    font-size: 15px;
  }
  
  .detail__button:hover .button__icon{
    transform: translateX(.25rem);
  }

  .detail__modal--bd{
    max-width: 1280px;
  }

  .detail__modal-box{
    padding: 0 1.25rem 2rem 1.25rem;
  }
  .detail__modal-data{
    display: grid;
    margin-top: 2rem;
  }

  .detail__modal-title{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color-title);
  }
  
  .detail__modal-logo{
    font-size: 1rem;
  }
  .detail__modal-category{
    font-size: .75rem;
    color: var(--first-color);
  }
  .detail__modal-body{
    padding: 0 1rem 2rem 1rem;
  }
  .detail__modal-body-title{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: var(--mb-2);
    color: var(--text-color-title);
  }
  .modal__box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem 0;
  }
  .modal__img-1280{
    
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem 0;
  }
  .detail__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .detail__description{
    margin-bottom: 1rem;
  }

/*===== SELECT BTN =====*/

  .select-menu{
    width: 320px;
    margin: 50px auto;
}
.select-menu .select-btn{
    position: relative;
    display: flex;
    height: 55px;
    background: var(--container-color);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.select-menu .select-btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);;
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
    color: var(--first-color);
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: absolute;
    min-width: 320px;
    padding: 16px;
    margin-top: 10px;
    border-radius: 8px;
    background: var(--container-color);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    z-index: 2;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    color: var(--title-color);
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background:var(--container-color);
    
}
.options .option:hover{
    background:var(--change-hover);
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 16px;
    color: var(--title-color);
}

/*==================== BANNER ====================*/
.project{
    
    background-image: url(../img/homebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height:25rem;
    margin-top: 3rem;
    text-align: center;
    overflow: hidden;
}

.project__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
    color: var(--first-color);
}
.project__description{
    margin-bottom: var(--mb-1-5);
    color: #FFF;
}
.project__img{
    width: 200px;
    justify-self: center;
}



/*==================== TESTIMONIO ====================*/
.testimonial__container{
    padding-bottom: 2rem;
    z-index: 0;
}
.testimonial__data,
.testimonial__header{
    display: flex;
}
.testimonial__content{
    background-color: var(--container-color);
    padding: .8rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.testimonial__data{
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}
.testimonial__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75);
}
.testimonial__name{
    font-weight: var(--font-medium);
}
.testimonial__client{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.testimonial__description{
    margin-bottom: var(--mb-2-5);
}
.testimonial__icon-star{
    color: var(--first-color);
}

.swiper-pagination-bullet-active{
    background-color:var(--first-color) ;
  }
/*==================== CONTACTO ====================*/
.contact__container{
    row-gap: 3rem;
}
.contact__information{
    display:flex;
    margin-bottom: var(--mb-2);
}
.contact__icon{
    font-size: 2rem;
    color:var(--first-color) ;
    margin-right: var(--mb-0-75);
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.contact__title-information{
    margin-bottom: var(--mb-2);
}
.contact__title-margin{
    padding-bottom: .25rem;
}
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}
.contact__label{
    font-size:var(--smaller-font-size) ;
}
.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-color);
    font-size: var(--small-font-size);
    border:none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}
.btn__change button{
    cursor: pointer;
}

/*==================== PIE DE PAGINA ====================*/
.footer{
    padding-top: 2rem;
}
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: hsl(var(--hue-color), 30%, 8%);
    padding: 2rem 0 3rem;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
.footer__subtitle{
    font-size: var(--small-font-size);
}
.footer__text-title{
    font-size: 1.05rem;
}
.footer__links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1.5rem;
}
.footer__link-grey{
    color: var(--text-color-light);
}
.footer__link{
    color: #bebebe;
    font-size: var(--smaller-font-size);
    cursor: pointer;
}

.footer__link:hover,
.footer__link-grey:hover{
    color: var(--primary-color);
}
.footer__logo{
    width: 90px;
}

.footer__social{
    font-size: 1.3rem;
    margin-right: var(--mb-1-5);
}
.footer__social:hover{
    color: var(--primary-color);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3); 
}
.footer__text,
.footer__title,
.footer__subtitle,
.footer__social,
.footer__text-title{
    color: #FFF;
}

.footer__space{
    padding-top:.25rem;
    
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    width: 55px;
    height: 55px;
    background-color: #25d366;
    padding: 0 .3rem;
    border-radius: 50%;
    text-align: center;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    background-color:  #15bb52;
}
.scrollup__icon{
    font-size: 2.1rem;
    color: #FFF;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: 0.6rem;
    background-color:var(--scroll-bar-color);
    border-radius:.5rem;
}
::-webkit-scrollbar-thumb{
    background-color:var(--scroll-thumb-color);
    border-radius:.5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}
/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 1024px){
    .footer__links{
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 1.5rem;
    }
}
@media screen and (max-width:768px){
    
    
    .section__inter{
        padding: 4rem 0 0 0;
    }
    .section{
        padding: 4rem 0 2rem 0;
    }
    .section2{
        padding: 4rem 0 3rem 0;
    }
    .header{
        background-color: var(--body-color);
    }
    .active-link::after{
        display: none;
    }
    .nav__link,
    .change-theme{
        color: var(--logo-color);
        font-size: .85rem;
    }
    .nav__toggle,
    .change-theme{
        font-size: 1.3rem;
    }
    
    .nav__logo--color{
        fill: var(--logo-color);
    }
    .nav__services{
        position: flex;
        bottom: 50px;
        /* position: relative; */
        
        background-color: var(--body-color);
        align-items: center;
        max-width: 120px;
        font-size: .8rem;
        text-align: center;
        box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.212);
    }
    .nav__services li a{
        color: var(--logo-color);
    }
    
    .about__subtitle{
        text-align: center;
    }
    .services__content{
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
    .services__container{
        justify-content:center;
    }
    .methodology__container{
        grid-template-columns: 1fr;
    }
    .methodology__content-img{
        order: 1;
    }
    
}

@media screen and (max-width:568px){

    .home__content{
        padding-top: 2rem;
    }
    .home__title{
        font-size: 1.6rem;
        line-height:2.2rem;
    }
    .home__img{
        padding-top: 4rem;
    }
    
    .about .section__subtitle,
    .benefies .section__subtitle{
        margin-bottom: 1rem;
    }
    .services__modal-service{
        font-size: var(--small-font-size);
    }
    .services__container,
    .detail__container-last{
        margin-top: 2rem;
        gap: 3rem;
    }
    .detail__modal{
        padding: 0;
    }
    .services__card{
        width: 280px;
        height: 350px;
    }
    .benefies__container .benefies__img:nth-child(1){
        order: 1;
    }
    
}

/* para dispostivios pequeños */
@media screen and (max-width:350px){

    .nav__menu{
        padding:2rem .5rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .section{
        padding: 3rem 0 2rem 0;
    }
    .section__title{
        font-size: 1.25rem;
    }
    .section2{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .section_features{
        padding: 2rem 0 2rem 0;
    }
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__container{
        height: 100vh;
        margin-bottom: 2rem;
        padding-top: 0.2rem;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
        grid-template-rows: 1fr 2fr;
        padding: 0;
    }
    .home__img{
        width:200px;
        bottom:20px;
    }
    .home__data{
        padding-bottom: 8rem;
        
    }
    .home__title{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .home__subtitle{
        margin: 0;
    }
    .home__description{
        margin-bottom: 1rem;
    }
    .home__social{
        display: block;
    }
    .benefies__img{
        max-width: 250px;
    }
    .advantages__img{
        margin-bottom: 0;
    }
    .project__container{
        padding-top: 1rem;
    }
    .project__img{
        width: 98px;
    }
    .project__description{
        margin:0 0 1rem 0;
    }
    .project .project__banner .project__img{
        width: 140px;
    }
    .skills__title{
        font-size:var(--normal-font-size)
    }
    .methodology__data{
        gap: .5rem;
    }
    
    .services__content{
        padding: 0 2rem 0 2rem;
    }
    
    .services__modal{
        padding: 0.5rem;
    }

    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data,
    .testimonial__description{
        text-align:center;
    } 
    .footer__links{
        grid-template-columns: 1fr;
    }
    .footer__container{
        grid-gap: 1rem;
    }
}
@media screen and (min-width:350px){
    .home__social{
        padding-top: 3rem;
    }
    .home__data{
        padding-top: 2rem;
    }
 
    .services__content{
        padding: 5rem;
    }
    .project{
        height: 32rem;
    }
    .project__data{
        margin-top: 2rem;
    }
    .project__img{
        width: 160px;
    }

    .benefies .section__title,
    .about .section__title,
    .about__subtitle{
        padding-bottom:.8rem ;
    }
    .footer__links{
        grid-gap:1rem;
    }
}
/* Para dispositivos medianos */

@media screen and (min-width:568px){
    .home__content{
        grid-template-columns: max-content 2fr 1fr;
    }
  
    .home__img{
        order:1;
        justify-content:center;
        width:200px;
    }

    .home__social{
        display: none; 
    }
    .home__title{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .home__description{
        margin-bottom: .75rem;
    }
    
    .benefies__container,
    .about__container,
    .skills__container,
    .features__content,
    .project__container,
    .contact__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services__content{
        padding: 0;
    }
    
    .methodology__tabs{
        justify-content:center;
    }
    .methodology__space{
        margin-left: 2rem;
    }
    .detail__modal-box{
        padding: 1rem 2rem 3rem 2rem;
      }
    .detail__modal-body{
        padding: 0 2rem 3rem 2rem;
    }
    .detail__modal-title{
        font-size: 1.4rem;
      }
      .detail__modal-logo{
        font-size: 1.2rem;
      }
      .detail__modal-category{
        font-size: 1rem;
      }
    .project__data{
        margin-top: 5rem;
    }
    .project__img{
        margin-top: 2rem;
    }
    .project__container{
        margin-top: 5rem;
    }
    .footer__container{
        grid-template-columns: 1fr 2fr;
        justify-content:center;
    }
}

@media screen and (min-width:768px){
    
    .home__data{
        grid-column: initial;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding:5rem 0 2rem;
    }
    .section2{
        padding:5rem 0 3rem 0;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom:initial;

    }
    .header,
    .benefies,
    .about,
    .skills,
    .services,
    .features,
    .project,
    .testimonial,
    .contact,
    .home__container,
    .footer__container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .nav{
        height:calc(var(--header-height) + 1.5rem);
        padding: .5rem 0 .5rem 0;
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display:none;
    }
    .nav__list{
        display:flex;
        column-gap:1.9rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__link{
        font-size: .85rem;
    }
    .change-theme{
        margin: 0;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 3rem;
        column-gap: 2rem;
    }
    .home__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
    }   
    .home__social-icon{
        padding: 0;
        font-size: 2rem;
    }
    
    .home__img{
        width:240px;
        bottom: 0;
    }
    .home__data{
        grid-column: initial;
    }
    .home__title{
        line-height: 2.2rem;
    }
    .home__subtitle{
        font-weight: var(--font-semi-bold);
    }
    .home__scroll{
        display:block;
    }
    
    .home__scroll-name{
        font-size: 1.15rem;
    }
    .home__scroll-arrow{
        font-size: 1.8rem;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }
    
    
    .benefies__container{
        column-gap:5rem;
    }
    .benefies__img{
        width: 350px;
    }
    .benefies__description{
        text-align:initial;
    }
    .benefies__info{
        justify-content:space-between;
    }
    .benefies__buttons{
        justify-content:initial;
    }
    
    .about__container{
        column-gap:5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align:initial;
    }
    .about__info{
        justify-content:space-between;
    }
    .about__buttons{
        justify-content:initial;
    }
    .methodology__container{
        grid-template-columns: repeat(2,1fr);
    }
    .methodology__sections{
        display:grid;
        grid-template-columns:1fr;
        justify-content: center;
    }
    
    .methodology__button{
        margin: 0 var(--mb-1);
    }
    .services__icon{
        font-size: 2rem;
    }
    
    .services__content{
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
    .services__modal-content{
        width: 450px;
    }
    .features__img{
        width: 350px;

    }
    .features__content{
        align-items: center;
    }
    .detail__modal-box{
        padding: 2rem 4rem 4rem 4rem;
      }
    .detail__modal-body{
        padding: 0 4rem 4rem 4rem;
    }
    .detail__modal-title{
        font-size: 1.8rem;
      }
      .detail__modal-logo{
        font-size: 1.3rem;
      }
      .detail__modal-category{
        font-size: 1.15rem;
      }
      .button__modal{
        font-size: 1rem;
        max-width: 200px;
      }

    .project{
        text-align: initial;
    }
    .project__bg{
        background:none;
    }
    .project__container{
        grid-template-columns:1fr max-content;
        columns: gap 3rem;
        margin-top: 2rem;
    }

    .project__img{
        width: 230px;
    }
    .project__data{
        margin-top: 7rem;
    }
    .project__title{
        font-size: 2.1rem;
    }
    .project__description{
        font-size: 1.2rem;
    }
    .details__container{
        grid-template-columns: repeat(2,1fr);
   
      }

    .footer__container{
        grid-template-columns:1fr 4fr 1fr;
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }
}
/* Para dispositivos grandes */

@media screen and (min-width: 1024px){
    .nav__link{
        font-size: 1.1rem;
    }

    
    .header,
    .benefies,
    .about,
    .skills,
    .services,
    .features,
    .project,
    .portfolio,
    .testimonial,
    .contact,
    .footer__container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .section2{
        padding: 6rem 0 3rem 0;
    }
    .section__inter{
        padding: 4rem 0 0 0;
    }
    .container{
        max-width: 968px;
        
    }
    .home__container{
        padding-top: 4rem;
    }
    
    .home__img{
        width:400px;
        bottom:100px;
    }
    .home__social{
        transform:translateX(-2rem);
        padding-top: 0;
    }
    .home__social-icon{
        font-size:2.2rem;
    }
    .home__title{
        font-size: 3.1rem;
        line-height: 4rem;
    }
    .home__subtitle{
        font-size: 1.5rem;
    }
    .home__description{
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
    .benefies .section__title,
    .about .section__title{
        padding: 0;
    }
    .benefies__container{
        width:100%;
    }
    .benefies__img{
        width: 500px;
        height: auto;
    }
    .about__container{
        width:100%;
    }
    .about__img{
        width: 600px;
        height: auto;
    }
    .features__content{
        column-gap: 5rem;
    }
    .features__img{
        width: 420px;

    }
    .swiper-portfolio-icon{
        font-size:3.5rem;
    }
    .swiper-button-prev{
        left:-2rem;
    }
    .swiper-button-next{
        right:-1rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom:-4.5rem;

    }

    .contact__form{
        width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2,.5fr );
    }
    .services__content{
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
    .project__img{
        width: 280px;
    }
    .project__data{
        margin-top: 8rem;
    }
    .project__title{
        font-size: 2.1rem;
        font-weight: 700;
    }
    .project__description{
        font-size: 1.2rem;
    }
    .detail__container-last{
        grid-template-columns: repeat(3,1fr);
      }
      .detail__description{
        font-size: 1.15em;
      }
}
@media screen and (min-width: 1280px){
    .container{
        max-width: 1080px;
    }
    .services__card-content .button{
        font-size: var(--small-font-size);
    }
    
}
@media screen and (min-width: 1369px){
    .section{
        padding: 8rem 0 4rem 0;
    }

    .section2{
        padding: 6rem 0 5rem 0;
    }
    .button{
        font-size: 1.1rem;
    }
    .container{
        max-width: 1200px;
    }

    .home__container{
        padding-top: 8rem;
    }
    
    .home__img{
        width:500px;
        bottom:160px;
    }
    .home__title{
        font-size: 3.4rem;
        line-height: 4.5rem;
    }
    
    .btn__change .button{
        padding: 1rem;
        font-size: 1rem;
    }
    
    .methodology__sections{
        grid-template-columns:.8fr;
    }
    .portfolio__content{
        width: 340px;
    }
    .services__card{
        width: 270px;
    }
    .services__circle{
        top: -15px;
    }
    
}
/* iPad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Estilos CSS para iPad en orientación vertical */
    .home__content{
        padding: 2rem 4rem 0 4rem;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .home__social{
        display: none;

    }
    .home__img{
        width: 350px;

    }
    .home__data{
        text-align: center;
        order: 1;
    }
    .home__title{
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .home__subtitle{
        font-size: 1.5rem;
    }
    .home__description{
        font-size: 1rem;
    }
  }
